In [14]:
import pandas as pd
import warnings
warnings.filterwarnings("ignore")

In [15]:
df = pd.read_csv('Data.csv')
df.head(3)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...

In [16]:
df.shape

(8807, 12)

In [17]:
df.dropna(inplace=True)

In [18]:
df.shape

(5332, 12)

* Nested Columns Identification

In [19]:
def has_nested_col(col):
    '''
    This function return True if column has multiple values else False
    '''
    for value in col:
        if ',' in str(value): # your Delimtter 
            return True
    return False


nested_cols = [col for col in df.columns if has_nested_col(df[col])]
nested_cols

['title',
 'director',
 'cast',
 'country',
 'date_added',
 'listed_in',
 'description']

In [20]:
working_df = df[['cast']] # Here We are Interested in cast column only

In [21]:
working_df.shape

(5332, 1)

In [22]:
working_df.head()

                                                 cast
7   Kofi Ghanaba, Oyafunmike Ogunlano, Alexandra D...
8   Mel Giedroyc, Sue Perkins, Mary Berry, Paul Ho...
9   Melissa McCarthy, Chris O'Dowd, Kevin Kline, T...
12  Luna Wedler, Jannis Niewöhner, Milan Peschel, ...
24  Prashanth, Aishwarya Rai Bachchan, Sri Lakshmi...

In [23]:
working_df['cast']=working_df['cast'].str.split(",") # Creting List for each value separated by "," 
working_df.head()

                                                 cast
7   [Kofi Ghanaba,  Oyafunmike Ogunlano,  Alexandr...
8   [Mel Giedroyc,  Sue Perkins,  Mary Berry,  Pau...
9   [Melissa McCarthy,  Chris O'Dowd,  Kevin Kline...
12  [Luna Wedler,  Jannis Niewöhner,  Milan Pesche...
24  [Prashanth,  Aishwarya Rai Bachchan,  Sri Laks...

In [24]:
working_df = working_df.explode('cast').reset_index(drop=True)
working_df.head()

                   cast
0          Kofi Ghanaba
1   Oyafunmike Ogunlano
2        Alexandra Duah
3           Nick Medley
4            Mutabaruka

In [25]:
working_df.shape

(42711, 1)